body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#map {
    height: 500px;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    border: 2px solid black;
}

input, button {
    padding: 8px;
    margin: 5px;
    font-size: 14px;
}

/* Optional style for routing container */
.leaflet-routing-container {
    max-height: 300px;
    overflow-y: auto;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.hide-directions {
    display: none !important;
}

